<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<date>2012-09-03T02:18:29Z</date>
	<key>playId</key>
	<string>d232c6c498283da7cb5b433a82e2b2bb9d5b39a9</string>
	<key>playName</key>
	<string>startrek</string>
	<key>quotations</key>
	<array>
		<dict>
			<key>act</key>
			<string>stardate 3468.1.</string>
			<key>character</key>
			<string>Lt. Carolyn Palamas</string>
			<key>qid</key>
			<string>52bdb9fed0362e86d1e8aa12f8759c04b92faafe</string>
			<key>quotation</key>
			<string>A father doesn't destroy his children.</string>
			<key>scene</key>
			<string>"Who Mourns for Adonais?"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1514.0</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>2ca146400cefdac97c77efd9613fa9974630f393</string>
			<key>quotation</key>
			<string>A little suffering is good for the soul.</string>
			<key>scene</key>
			<string>"The Corbomite Maneuver"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3018.2</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>8adb471edc4edc1568393b7becf867718c6c6694</string>
			<key>quotation</key>
			<string>A woman should have compassion.</string>
			<key>scene</key>
			<string>"Catspaw"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3193.0</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>77944c3dd8b6c2b06e4c030429967954adae45ce</string>
			<key>quotation</key>
			<string>Actual war is a very messy business.  Very, very messy business.</string>
			<key>scene</key>
			<string>"A Taste of Armageddon"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3259.2</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>d473a2f91a09edf6cddd3e0fd116a5c22d21e6a7</string>
			<key>quotation</key>
			<string>All your people must learn before you can reach for the stars.</string>
			<key>scene</key>
			<string>"The Gamesters of Triskelion"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3417.3</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>1b3f1b913238279d4799696c2b0f3b627cbee87d</string>
			<key>quotation</key>
			<string>Another dream that failed.  There's nothing sadder.</string>
			<key>scene</key>
			<string>"This side of Paradise"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Spock and Kirk</string>
			<key>qid</key>
			<string>143c8a5cb38d77e5347c953449b822fc05c4cada</string>
			<key>quotation</key>
			<string>"Beauty is transitory.""Beauty survives."</string>
			<key>scene</key>
			<string>"That Which Survives"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4513.3</string>
			<key>character</key>
			<string>Harry Mudd</string>
			<key>qid</key>
			<string>dcd8304221f92b8ef3913bc0739c9ff4b3891865</string>
			<key>quotation</key>
			<string>Behind every great man, there is a woman,urging him on.</string>
			<key>scene</key>
			<string>"I Mudd"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5730.2</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>bcdaf4dc53fa2d5c8afeaee36a58857b1da4e341</string>
			<key>quotation</key>
			<string>Change is the essential process of all existence.</string>
			<key>scene</key>
			<string>"Let That Be Your Last Battlefield"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>a78addf16588f08e35777b2cc1c86d54754c2cc6</string>
			<key>quotation</key>
			<string>Conquest is easy. Control is not.</string>
			<key>scene</key>
			<string>"Mirror Mirror"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5843.7</string>
			<key>character</key>
			<string>Flint</string>
			<key>qid</key>
			<string>83f1a05cd9634cbba35b2a982fbe1bdcb9a64055</string>
			<key>quotation</key>
			<string>Death, when unnecessary, is a tragic thing.</string>
			<key>scene</key>
			<string>"Requiem for Methuselah"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4842.6</string>
			<key>character</key>
			<string>Miramanee Kirk's wife</string>
			<key>qid</key>
			<string>68c1ee20e139b3481247fae7f986995f7f09ac20</string>
			<key>quotation</key>
			<string>Each kiss is as the first.</string>
			<key>scene</key>
			<string>"The Paradise Syndrome"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 368.1</string>
			<key>character</key>
			<string>Apollo</string>
			<key>qid</key>
			<string>6115dba06c1815f4ae2d8cb5f514f7063904f7bb</string>
			<key>quotation</key>
			<string>Earth, mother of the most beautiful women in the universe.</string>
			<key>scene</key>
			<string>"Who Mourns for Adonais?"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3196.1</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>9a8fa1270b16e81817a46dc9b888101875cdc774</string>
			<key>quotation</key>
			<string>Either one of us, by himself, is expendable.  Both of us are not.</string>
			<key>scene</key>
			<string>"The Devil in the Dark"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3417.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>7b7b92bb3bce05405e05579ecccb75a1270740c3</string>
			<key>quotation</key>
			<string>Emotions are alien to me.  I'm a scientist.</string>
			<key>scene</key>
			<string>"This Side of Paradise"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4731.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>fa25f5c8de400be3db157baec7bc256848f37d0d</string>
			<key>quotation</key>
			<string>Every living thing wants to survive.</string>
			<key>scene</key>
			<string>"The Ultimate Computer"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5818.4</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>263a702f3c108856d3c47bd16ef5fcaae1e7ee57</string>
			<key>quotation</key>
			<string>Extreme feminine beauty is always disturbing.</string>
			<key>scene</key>
			<string>"The Cloud Minders"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2124.5</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>38080021678f40ced16a3d6b284ee27f451bf81b</string>
			<key>quotation</key>
			<string>Fascinating is a word I use for the unexpected.</string>
			<key>scene</key>
			<string>"The Squire of Gothos"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3219.8</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>772a9d6986850ce22cfe0dc2a4925834a9a86ff4</string>
			<key>quotation</key>
			<string>Fascinating, a totally parochial attitude.</string>
			<key>scene</key>
			<string>"Metamorphosis"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1709.2</string>
			<key>character</key>
			<string>Romulan Commander</string>
			<key>qid</key>
			<string>810a7abcf3c6b9ebbd2196c1c9f413500b0f1b72</string>
			<key>quotation</key>
			<string>First study the enemy.  Seek weakness.</string>
			<key>scene</key>
			<string>"Balance of Terror"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Klingon Soldier</string>
			<key>qid</key>
			<string>0c081519441be1fb819149617135ef7cdf537003</string>
			<key>quotation</key>
			<string>Four thousand throats may be cut in one night by a running man.</string>
			<key>scene</key>
			<string>"Day of the Dove"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Cloud William and Kirk</string>
			<key>qid</key>
			<string>9ba5ab347ee55f01e976bc05d1143fd49b0217aa</string>
			<key>quotation</key>
			<string>"... freedom ... is a worship word...""It is our worship word too."</string>
			<key>scene</key>
			<string>"The Omega Glory"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3417.3</string>
			<key>character</key>
			<string>Kirk and Mr. Leslie</string>
			<key>qid</key>
			<string>1e1060c9bc72200a40d2afb6f4d73e7a14f82b87</string>
			<key>quotation</key>
			<string>"Get back to your stations!""We're beaming down to the planet, sir."</string>
			<key>scene</key>
			<string>"This Side of Paradise"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3196.1</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>7f14020741f9844d9f2d6a5dede656fb72841e6a</string>
			<key>quotation</key>
			<string>He's dead, Jim</string>
			<key>scene</key>
			<string>"The Devil in the Dark"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5906.4</string>
			<key>character</key>
			<string>Col. Green</string>
			<key>qid</key>
			<string>82cff32d5d180f914373a58dd601d1e45808b37d</string>
			<key>quotation</key>
			<string>History tends to exaggerate.</string>
			<key>scene</key>
			<string>"The Savage Curtain"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5725.6</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>9ade818e4c2d9233f2f5d48348f142d76117d40c</string>
			<key>quotation</key>
			<string>Humans do claim a great deal for that particular emotion (love).</string>
			<key>scene</key>
			<string>"The Lights of Zetar"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3198.9</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>39f28eb0016f28a6c5757244be698ba6459432af</string>
			<key>quotation</key>
			<string>I'm a soldier, not a diplomat.  I can only tell the truth.</string>
			<key>scene</key>
			<string>"Errand of Mercy"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2822.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>9e5aa441f48b588a0ce0d35554cb1edc9fb5b24b</string>
			<key>quotation</key>
			<string>I'm frequently appalled by the low regard you Earthmen have for life.</string>
			<key>scene</key>
			<string>"The Galileo Seven"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3141.9</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>f41f2d478f2c4a86cd57a48a930ed891dc2c15e6</string>
			<key>quotation</key>
			<string>If I can have honesty, it's easier to overlook mistakes.</string>
			<key>scene</key>
			<string>"Space Seed"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3417.7</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>8619c3aa37ade4864decc08b80766726b253de89</string>
			<key>quotation</key>
			<string>If there are self-made purgatories, then we all have to live in them.</string>
			<key>scene</key>
			<string>"This Side of Paradise"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3219.8</string>
			<key>character</key>
			<string>Zefrem Cochrane</string>
			<key>qid</key>
			<string>b809b6900d09d883df1e3ed146270e4bfe9c3ca8</string>
			<key>quotation</key>
			<string>Immortality consists largely of boredom.</string>
			<key>scene</key>
			<string>"Metamorphosis"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3615.4</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>ca672034aa30db7ba21722d605d1694892a2fe32</string>
			<key>quotation</key>
			<string>In the strict scientific sense we all feed on death, evenvegetarians.</string>
			<key>scene</key>
			<string>"Wolf in the Fold"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3141.9</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>e08825c144408ed0e63e758e2f0ef13f01591e17</string>
			<key>quotation</key>
			<string>Insufficient facts always invite danger.</string>
			<key>scene</key>
			<string>"Space Seed"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3468.1</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>155d2a48c6d430ac37b8395b804075d02ffafb07</string>
			<key>quotation</key>
			<string>Insults are effective only where emotion is present.</string>
			<key>scene</key>
			<string>"Who Mourns for Adonais?"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3620.7</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>9b365290b52f7faffd7faa8dad46cb9e3997dae7</string>
			<key>quotation</key>
			<string>Intuition, however illogical, is recognized as a command prerogative.</string>
			<key>scene</key>
			<string>"Obsession"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5476.4.</string>
			<key>character</key>
			<string>Natira</string>
			<key>qid</key>
			<string>c4133a493a2066736e8e31fb4cd56749202231ca</string>
			<key>quotation</key>
			<string>Is truth not truth for all?</string>
			<key>scene</key>
			<string>"For the World is Hollow and I have Touchedthe Sky"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2822.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>9e5aa441f48b588a0ce0d35554cb1edc9fb5b24b</string>
			<key>quotation</key>
			<string>It is more rational to sacrifice one life than six.</string>
			<key>scene</key>
			<string>"The Galileo Seven"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4513.3</string>
			<key>character</key>
			<string>Alice #1</string>
			<key>qid</key>
			<string>c735c3f0cebd168fd4135de7cbc2271e264fa91c</string>
			<key>quotation</key>
			<string>It is necessary to have purpose.</string>
			<key>scene</key>
			<string>"I Mudd"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5027.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>22e707a2e619792bddf58e4ec786d6673b3716a7</string>
			<key>quotation</key>
			<string>It would be illogical to assume that all conditions remain stable</string>
			<key>scene</key>
			<string>"The Enterprise" Incident"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3842.4</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>8b4f03ee9e125c81b1f139ee64b6cef82c3605f6</string>
			<key>quotation</key>
			<string>It would be illogical to kill without reason</string>
			<key>scene</key>
			<string>"Journey to Babel"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5906.5</string>
			<key>character</key>
			<string>Yarnek of Excalbia</string>
			<key>qid</key>
			<string>065e0db500e4495aea075e6b823257846b4594ae</string>
			<key>quotation</key>
			<string>It would seem that evil retreats when forcibly confronted</string>
			<key>scene</key>
			<string>"The Savage Curtain"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4211.8</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>905ea707c22675cc30875579a5cf6b899fb59c7d</string>
			<key>quotation</key>
			<string>Killing is stupid; useless!</string>
			<key>scene</key>
			<string>"A Private Little War"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Losira</string>
			<key>qid</key>
			<string>ce9eb84c2e3c26a3d4369809b0c01810321a91b8</string>
			<key>quotation</key>
			<string>Killing is wrong.</string>
			<key>scene</key>
			<string>"That Which Survives"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4513.3</string>
			<key>character</key>
			<string>Harry Mudd</string>
			<key>qid</key>
			<string>dcd8304221f92b8ef3913bc0739c9ff4b3891865</string>
			<key>quotation</key>
			<string>Knowledge, sir, should be free to all!</string>
			<key>scene</key>
			<string>"I Mudd"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3157.4</string>
			<key>character</key>
			<string>A Beta 3-oid</string>
			<key>qid</key>
			<string>7c5499cca87113fb5c2f57eeea5349332ba690d6</string>
			<key>quotation</key>
			<string>Landru! Guide us!</string>
			<key>scene</key>
			<string>"The Return of the Archons"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1709.2</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>04ad7b4d21b14002a73e6dbc7ee236d806840e7e</string>
			<key>quotation</key>
			<string>Leave bigotry in your quarters; there's no room for it on the bridge.</string>
			<key>scene</key>
			<string>"Balance of Terror"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3372.7</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>741fba4581d6ce892624bee84a23bba999e2da2c</string>
			<key>quotation</key>
			<string>Live long and prosper.</string>
			<key>scene</key>
			<string>"Amok Time"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Edith Keeler</string>
			<key>qid</key>
			<string>3fdd04fabaf7d68949b8bf9b734c7789a1a8b854</string>
			<key>quotation</key>
			<string>Lots of people drink from the wrong bottle sometimes.</string>
			<key>scene</key>
			<string>"The City on the Edge of Forever"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3220.3</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>3c6246210f3e798cc92fa665ea404db9eee8c3a7</string>
			<key>quotation</key>
			<string>Love sometimes expresses itself in sacrifice.</string>
			<key>scene</key>
			<string>"Metamorphosis"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3088.7</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>ab2cb879c96d909b1be8d2133178d45902d0a0a9</string>
			<key>quotation</key>
			<string>Madness has no purpose.  Or reason.  But it may have a goal.</string>
			<key>scene</key>
			<string>"The Alternative Factor"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5832.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>482ef3c42e207726ddcda3c30adf1612f1197b52</string>
			<key>quotation</key>
			<string>Many Myths are based on truth</string>
			<key>scene</key>
			<string>"The Way to Eden"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5906.4</string>
			<key>character</key>
			<string>Col. Green</string>
			<key>qid</key>
			<string>82cff32d5d180f914373a58dd601d1e45808b37d</string>
			<key>quotation</key>
			<string>Men don't talk peace unless they're ready to back it up with war.</string>
			<key>scene</key>
			<string>"The Savage Curtain"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5906.5</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>08c66f708e0ccae601b4827cd97b60261622d247</string>
			<key>quotation</key>
			<string>Men of peace usually are [brave].</string>
			<key>scene</key>
			<string>"The Savage Curtain"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1329.8</string>
			<key>character</key>
			<string>Harry Mudd</string>
			<key>qid</key>
			<string>b3715a263e2e973c00073f9585f6e43d7ecfdffc</string>
			<key>quotation</key>
			<string>Men will always be men, no matter where they are.</string>
			<key>scene</key>
			<string>"Mudd's Women"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5027.4</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>958e1632cbb8096276b1e0a30107b0cf7c2ddac8</string>
			<key>quotation</key>
			<string>Military secrets are the most fleeting of all.</string>
			<key>scene</key>
			<string>"The Enterprise Incident"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5029.5</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>f383dc219f70b7ef0957c958af86221ee3f42839</string>
			<key>quotation</key>
			<string>Most legends have their basis in facts.</string>
			<key>scene</key>
			<string>"And The Children Shall Lead"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4731.3</string>
			<key>character</key>
			<string>M-5 Computer</string>
			<key>qid</key>
			<string>d55a0074ba5b109ac00df77b1443cb0eb3ec6aa4</string>
			<key>quotation</key>
			<string>Murder is contrary to the laws of man and God.</string>
			<key>scene</key>
			<string>"The Ultimate Computer"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2713.6</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>04728ec44eaf1769a89aef4a71e2c255fcf5f63e</string>
			<key>quotation</key>
			<string>No more blah, blah, blah!</string>
			<key>scene</key>
			<string>"Miri"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>bc8289a7d895834b75d0bee28c728e676726c2b0</string>
			<key>quotation</key>
			<string>No one can guarantee the actions of another.</string>
			<key>scene</key>
			<string>"Day of the Dove"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5431.6</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>c916889dfff41773f94156bfedaeb0b062522c74</string>
			<key>quotation</key>
			<string>No one may kill a man.  Not for any purpose.  It cannot be condoned.</string>
			<key>scene</key>
			<string>"Spock's Brain"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3201.7</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>0badb280c9b83bd9aac5bc3156aff328b084d940</string>
			<key>quotation</key>
			<string>No one wants war.</string>
			<key>scene</key>
			<string>"Errand of Mercy"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3479.4</string>
			<key>character</key>
			<string>Dr. Janet Wallace</string>
			<key>qid</key>
			<string>0cc296da91dd2fa018ad1ad340187f95879873e9</string>
			<key>quotation</key>
			<string>No problem is insoluble.</string>
			<key>scene</key>
			<string>"The Deadly Years"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3219.8</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>e2c5ace4d14eee9da8fea7029f00e9f01d8da1d5</string>
			<key>quotation</key>
			<string>Not one hundred percent efficient, of course ... but nothing ever is.</string>
			<key>scene</key>
			<string>"Metamorphosis"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4770.3.</string>
			<key>character</key>
			<string>Thalassa (in Anne Mulhall's body)</string>
			<key>qid</key>
			<string>f481c3498b0a4fab368d2e9105c230e1280c355f</string>
			<key>quotation</key>
			<string>Oblivion together does not frighten me, beloved.</string>
			<key>scene</key>
			<string>"Return to Tomorrow"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3842.4</string>
			<key>character</key>
			<string>Sarek</string>
			<key>qid</key>
			<string>bd7c44f71df61efb13627167ab9f940f1e01fd07</string>
			<key>quotation</key>
			<string>One does not thank logic.</string>
			<key>scene</key>
			<string>"Journey to Babel"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Kank the Klingon</string>
			<key>qid</key>
			<string>1157fab022e39bc6f06d3b0b66bb5ed518db27fc</string>
			<key>quotation</key>
			<string>Only a fool fights in a burning house.</string>
			<key>scene</key>
			<string>"Day of the Dove"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4040.7.</string>
			<key>character</key>
			<string>Septimus the Son Worshiper</string>
			<key>qid</key>
			<string>a02fdb131408c3a83f7d87d7b802ba34dc581bf6</string>
			<key>quotation</key>
			<string>Our way is peace.</string>
			<key>scene</key>
			<string>"Bread and Circuses"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3287.2</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>0e3c72ef81081af0434b0cf61afc2a0756344aa0</string>
			<key>quotation</key>
			<string>Pain is a thing of the mind.  The mind can be controlled.</string>
			<key>scene</key>
			<string>"Operation Annihilate!"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>6376185f5f9cb8d8427a65a1354ff8f2a56a01e7</string>
			<key>quotation</key>
			<string>Peace was the way.</string>
			<key>scene</key>
			<string>"The City on the Edge of Forever"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1709.2</string>
			<key>character</key>
			<string>The Centurion</string>
			<key>qid</key>
			<string>5c4ad7700cbb1ccffd1402d690f378f710782842</string>
			<key>quotation</key>
			<string>Power is danger.</string>
			<key>scene</key>
			<string>"Balance of Terror"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Edith Keeler</string>
			<key>qid</key>
			<string>15d4022aaa64eb74a3d9a1e31e9c639631326d11</string>
			<key>quotation</key>
			<string>Prepare for tomorrow, get ready.</string>
			<key>scene</key>
			<string>"The City On the Edge of Forever"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2822.3</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>9bdf07d420bdf15a638240b2101d8e3dae7989ab</string>
			<key>quotation</key>
			<string>Respect is a rational process</string>
			<key>scene</key>
			<string>"The Galileo Seven"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3046.2</string>
			<key>character</key>
			<string>The Gorn</string>
			<key>qid</key>
			<string>f832697fd5415f5a296f2249577352ec5308257f</string>
			<key>quotation</key>
			<string>Schshschshchsch.</string>
			<key>scene</key>
			<string>"Arena"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3193.9</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>485ead73b5a39a06ecb0e16477b06843c17bb8dc</string>
			<key>quotation</key>
			<string>Sometimes a feeling is all we humans have to go on.</string>
			<key>scene</key>
			<string>"A Taste of Armageddon"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3142.8</string>
			<key>character</key>
			<string>Khan Noonian Singh</string>
			<key>qid</key>
			<string>ab5df14019a0bfdfba7cc1a4447a4051f5d819cc</string>
			<key>quotation</key>
			<string>Suffocating together ... would create heroic camaraderie.</string>
			<key>scene</key>
			<string>"Space Seed"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3141.9</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>e08825c144408ed0e63e758e2f0ef13f01591e17</string>
			<key>quotation</key>
			<string>Superior ability breeds superior ambition.</string>
			<key>scene</key>
			<string>"Space Seed"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3541.9</string>
			<key>character</key>
			<string>Spock and Nomad</string>
			<key>qid</key>
			<string>95d18d9f8e187a01825f30208ed6e1291c9257f2</string>
			<key>quotation</key>
			<string>"That unit is a woman.""A mass of conflicting impulses."</string>
			<key>scene</key>
			<string>"The Changeling"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3479.4</string>
			<key>character</key>
			<string>Dr. Janet Wallace</string>
			<key>qid</key>
			<string>0cc296da91dd2fa018ad1ad340187f95879873e9</string>
			<key>quotation</key>
			<string>The heart is not a logical organ.</string>
			<key>scene</key>
			<string>"The Deadly Years"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3219.8</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>e2c5ace4d14eee9da8fea7029f00e9f01d8da1d5</string>
			<key>quotation</key>
			<string>The idea of male and female are universal constants.</string>
			<key>scene</key>
			<string>"Metamorphosis"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3497.2</string>
			<key>character</key>
			<string>Kras the Klingon</string>
			<key>qid</key>
			<string>cd3761c6c962984ca6d39f129b9484b298056b43</string>
			<key>quotation</key>
			<string>The sight of death frightens them [Earthers].</string>
			<key>scene</key>
			<string>"Friday's Child"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4842.6</string>
			<key>character</key>
			<string>Miramanee</string>
			<key>qid</key>
			<string>9e9a1aac4ae0cbb1664fcfa8b7e9d5344af9a10b</string>
			<key>quotation</key>
			<string>The sooner our happiness together begins, the longer it will last.</string>
			<key>scene</key>
			<string>"The Paradise Syndrome"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2822.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>9e5aa441f48b588a0ce0d35554cb1edc9fb5b24b</string>
			<key>quotation</key>
			<string>There are always alternatives.</string>
			<key>scene</key>
			<string>"The Galileo Seven"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4929.4</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>8416deae35cc9c6a01f6ea6fd99efccf38520b17</string>
			<key>quotation</key>
			<string>There are certain things men must do to remain men.</string>
			<key>scene</key>
			<string>"The Ultimate Computer"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3201.7</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>0badb280c9b83bd9aac5bc3156aff328b084d940</string>
			<key>quotation</key>
			<string>There are some things worth dying for.</string>
			<key>scene</key>
			<string>"Errand of Mercy"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3193.9</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>8ec1aa9c08f5354ca79bd8d330e187c0d69b4e7f</string>
			<key>quotation</key>
			<string>There is a multi-legged creature crawling on your shoulder.</string>
			<key>scene</key>
			<string>"A Taste of Armageddon"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3468.1</string>
			<key>character</key>
			<string>Apollo</string>
			<key>qid</key>
			<string>4f4e57c4ae33c8468ee3b712812ccf60d9036410</string>
			<key>quotation</key>
			<string>There is an order of things in this universe.</string>
			<key>scene</key>
			<string>"Who Mourns for Adonais?"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown.</string>
			<key>character</key>
			<string>Captain Christopher Pike</string>
			<key>qid</key>
			<string>edbd1eec01cc63ef602b7bde14f0c402ab8685e2</string>
			<key>quotation</key>
			<string>There's a way out of any cage.</string>
			<key>scene</key>
			<string>"The Menagerie" ("The Cage")</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>0f7b7c5e911e75c0a7a3b8d51537439bcce73963</string>
			<key>quotation</key>
			<string>There's another way to survive.  Mutual trust, and help.</string>
			<key>scene</key>
			<string>"Day of the Dove"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3134.0</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>cf8943af054ebbe03215b99b2925e5b1456bc63a</string>
			<key>quotation</key>
			<string>Time is fluid ... like a river with currents, eddies, backwash.</string>
			<key>scene</key>
			<string>"The City on the Edge of Forever"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3498.9</string>
			<key>character</key>
			<string>Eleen the Capellan</string>
			<key>qid</key>
			<string>5d90ad6f40d511399f3c9cc01046a2e298cbe9d5</string>
			<key>quotation</key>
			<string>To live is always desirable.</string>
			<key>scene</key>
			<string>"Friday's Child"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4525.6</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>f75ccf8698547fcd21eb12981de409971abe167e</string>
			<key>quotation</key>
			<string>Too much of anything, even love, isn't necessarily a good thing.</string>
			<key>scene</key>
			<string>"The Trouble with Tribbles"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2822.3</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>9e5aa441f48b588a0ce0d35554cb1edc9fb5b24b</string>
			<key>quotation</key>
			<string>Totally illogical, there was no chance.</string>
			<key>scene</key>
			<string>"The Galileo Seven"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5818.4</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>263a702f3c108856d3c47bd16ef5fcaae1e7ee57</string>
			<key>quotation</key>
			<string>Violence in reality is quite different from theory.</string>
			<key>scene</key>
			<string>"The Cloud Minders"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3499.1</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>ce18d1b24cc820f7d06766c294f9c997e330d2bb</string>
			<key>quotation</key>
			<string>Virtue is a relative term.</string>
			<key>scene</key>
			<string>"Friday's Child"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3842.3</string>
			<key>character</key>
			<string>Amanda</string>
			<key>qid</key>
			<string>9eca7dfdfc7a1af01c2092dd68236a7498ada0b5</string>
			<key>quotation</key>
			<string>Vulcans believe peace should not depend on force.</string>
			<key>scene</key>
			<string>"Journey to Babel"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3842.4</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>8b4f03ee9e125c81b1f139ee64b6cef82c3605f6</string>
			<key>quotation</key>
			<string>Vulcans do not approve of violence.</string>
			<key>scene</key>
			<string>"Journey to Babel"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4202.1</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>fe2991f02e9b3f823c517a07387040660b3904d2</string>
			<key>quotation</key>
			<string>Vulcans never bluff.</string>
			<key>scene</key>
			<string>"The Doomsday Machine"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4768.3</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>1da2ab4df344983b5dd6d00bb9f8061e745c0e49</string>
			<key>quotation</key>
			<string>Vulcans worship peace above all.</string>
			<key>scene</key>
			<string>"Return to Tomorrow"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3113.2</string>
			<key>character</key>
			<string>Mr. Atoz</string>
			<key>qid</key>
			<string>d1726e373aa904d3ab3c3dfe9980263752fda87a</string>
			<key>quotation</key>
			<string>Wait!  You have not been prepared!</string>
			<key>scene</key>
			<string>"Tomorrow is Yesterday"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1709.2</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>2d3b5eddec192351d81145253c1915f076f3d210</string>
			<key>quotation</key>
			<string>War is never imperative.</string>
			<key>scene</key>
			<string>"Balance of Terror"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4211.8</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>0d6b0441823c260b637f42add2dec690d6417895</string>
			<key>quotation</key>
			<string>War isn't a good life, but it's life.</string>
			<key>scene</key>
			<string>"A Private Little War"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1514.2</string>
			<key>character</key>
			<string>Bailey</string>
			<key>qid</key>
			<string>1746c67b5e473078439b4f95c4408f85e78eb376</string>
			<key>quotation</key>
			<string>We have phasers, I vote we blast 'em!</string>
			<key>scene</key>
			<string>"The Corbomite Maneuver"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5710.5</string>
			<key>character</key>
			<string>Deela and Kirk</string>
			<key>qid</key>
			<string>a892af68bd1bad9e580e3b7d57b88a05c1558b9d</string>
			<key>quotation</key>
			<string>"We have the right to survive!""Not be killing others."</string>
			<key>scene</key>
			<string>"Wink of An Eye"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Sulu and Kirk</string>
			<key>qid</key>
			<string>c2a830ec4ce08da633ef9e74b831b851d5b3be3a</string>
			<key>quotation</key>
			<string>"What terrible way to die.""There are no good ways."</string>
			<key>scene</key>
			<string>"That Which Survives"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 2715.1</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>5db5604912567485af32d4d6e22b42f065a5e2cc</string>
			<key>quotation</key>
			<string>Where there's no emotion, there's no motive for violence.</string>
			<key>scene</key>
			<string>"Dagger of the Mind"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Hag</string>
			<key>qid</key>
			<string>7119db257bf5afdbd7de2a75a16fc4ea0b71166a</string>
			<key>quotation</key>
			<string>Witch!  Witch!  They'll burn ya!</string>
			<key>scene</key>
			<string>"Tomorrow is Yesterday"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5029.5</string>
			<key>character</key>
			<string>Spock</string>
			<key>qid</key>
			<string>d36b02157f730f162b5ce0d476b67f2ff9d40e65</string>
			<key>quotation</key>
			<string>Without followers, evil cannot spread.</string>
			<key>scene</key>
			<string>"And The Children Shall Lead"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3157.4</string>
			<key>character</key>
			<string>Kirk</string>
			<key>qid</key>
			<string>4cdecc976e9bcff8c441d5f91b3c44c7b012860f</string>
			<key>quotation</key>
			<string>Without freedom of choice there is no creativity.</string>
			<key>scene</key>
			<string>"The return of the Archons"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 1312.9.</string>
			<key>character</key>
			<string>Dr. Elizabeth Dehaver</string>
			<key>qid</key>
			<string>a6a2beb89d93bd7452f863a56eb1623117a09120</string>
			<key>quotation</key>
			<string>Women professionals do tend to over-compensate.</string>
			<key>scene</key>
			<string>"Where No Man Has Gone Before"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Sirah the Yang</string>
			<key>qid</key>
			<string>8637ad56009c69b175a17196e81b9d25bf1d95d5</string>
			<key>quotation</key>
			<string>Yes, it is written.  Good shall always destroy evil.</string>
			<key>scene</key>
			<string>"The Omega Glory"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 4513.3</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>f3fe941e836276df0aae96d6266de7e1b88c4a6c</string>
			<key>quotation</key>
			<string>You can't evaluate a man by logic alone.</string>
			<key>scene</key>
			<string>"I Mudd"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3134.0</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>61229c311ac14e84f1fee21c029de6fc487c1b93</string>
			<key>quotation</key>
			<string>You!  What PLANET is this!</string>
			<key>scene</key>
			<string>"The City on the Edge of Forever"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 3372.7</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>4aebd87c2011811b1bb404992c9e9c1ccb21b857</string>
			<key>quotation</key>
			<string>You're dead, Jim.</string>
			<key>scene</key>
			<string>"Amok Time"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>McCoy</string>
			<key>qid</key>
			<string>47cbf27efefb8a892bdf2653beb86d96ece6e633</string>
			<key>quotation</key>
			<string>You're dead, Jim.</string>
			<key>scene</key>
			<string>"The Tholian Web"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate unknown</string>
			<key>character</key>
			<string>Kirk to Yeoman Rand</string>
			<key>qid</key>
			<string>7e07edca3012eb6066bb2ae38d3bf88fef9ce5e7</string>
			<key>quotation</key>
			<string>You're too beautiful to ignore.  Too much woman.</string>
			<key>scene</key>
			<string>"The Enemy Within"</string>
		</dict>
		<dict>
			<key>act</key>
			<string>stardate 5928.5.</string>
			<key>character</key>
			<string>Dr. Janice Lester (in Kirk's body)</string>
			<key>qid</key>
			<string>ca4d568959a46a5fefe7b8ec562ca4af4851441c</string>
			<key>quotation</key>
			<string>Youth doesn't excuse everything.</string>
			<key>scene</key>
			<string>"Turnabout Intruder"</string>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
